.header-ams {
  background: url(ams-elections-2015-header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-ams .centerheader {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.55);
  margin-bottom: 45px;
}
.header-ams .centerheader .ubyssey-logo {
  width: 130px;
  height: 32px;
  margin: 0 auto;
  background: url(ubyssey-logo.png);
  background-size: 100%;
}
.header-ams .logo {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 55px;
  width: 70%;
  background: url(ams-elections-2015-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 500px) {
  .header-ams .logo {
    width: 350px;
    height: 350px;
  }
}
.header-ams .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header-ams .countdown-wrapper {
  display: none;
  width: 495px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 500px) {
  .header-ams .countdown-wrapper {
    display: block;
  }
}
.header-ams .countdown-wrapper p {
  text-transform: uppercase;
  color: #fff;
  font-family: "lft-etica";
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 35px;
}
.header-ams .countdown-wrapper a.continue {
  display: inline-block;
}
.header-ams .countdown-wrapper a.continue:hover {
  opacity: 0.5;
}
.l-main {
  float: left;
}
.section-header {
  text-align: center;
}
.small-feed .recent-feed li:nth-child(2n) {
  background: none;
}
.recent-feed {
  background: none;
}
.l-content {
  padding-top: 15px;
}
.candidates ul {
  padding: 0;
}
.candidates ul:first-child {
  margin-top: 0;
}
.candidates li {
  list-style: none;
  /*margin-top: 12px;*/
  padding: 6px;
  display: block;
  /*width: 100%;*/
}
.candidates li:hover {
  background: #eeeeee;
  border-radius: 6px;
}
.candidates li:first-child {
  /*margin-top: 0;*/
}
.candidates li.small {
  display: inline-block;
  /*width: 48px;*/
}
.candidates img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #ffffff;
  border: 1px solid #008DC2;
}
.position {
  margin: 12px 0;
  display: block;
  font-size: 12px;
  font-family: 'lft-etica', Arial, sans-serif;
  color: #2881AB;
  text-transform: uppercase;
}
.candidate-name {
  margin-left: 12px;
  font-size: 24px;
  vertical-align: middle;
}
h1.elections {
  font-family: "lft-etica";
  text-transform: uppercase;
  letter-spacing: 1px;
}
ul.elections-categories {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 35px;
  border-bottom: 1px dotted #cccccc;
}
ul.elections-categories li {
  display: inline-block;
  margin: 0 8px;
}
ul.elections-categories li a {
  font-family: "lft-etica";
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 14px;
  border-radius: 4px;
}
ul.elections-categories li a.active,
ul.elections-categories li a:hover {
  background: #194d6a;
  color: white;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.arrow-down {
  display: inline-block;
  background: url(down-arrow.svg);
  width: 25px;
  height: 25px;
  background-size: 100%;
}
.flip-clock-label {
  display: none;
}
.flip-clock-wrapper ul li a div div.inn {
  font-size: 40px;
  background: #fff;
  color: #252525;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.58);
}
.flip-clock-dot {
  background: #fff;
}
