/* =========================================================
   2014 AMS elections styles
   ========================================================= */

.typekit-badge {
    display: none !important;
}

.elections-header {
    font-family: 'museo-sans', Arial, sans-serif;
}

.ams-2014-line-1 {
}
.ams-2014-line-2 {
}
.ams-2014-line-3 {
}
.ams-2014-line-4 {
}

.countdown_section {
    display: inline-block;
    margin: 0 12px;
}

.candidates ul {
    padding: 0;
    margin: 36px 0;
}
.candidates ul:first-child {
    margin-top: 0;
}
.candidates li:hover {
    background: #eeeeee;
    border-radius: 6px;
}
.candidates li {
    list-style: none;
    margin-top: 12px;
    padding: 6px;
}
.candidates li:first-child {
    /*margin-top: 0;*/
}
.candidates img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #ffffff;
}

.position {
    font-size: 12px;
}

.candidate-name {
    margin-left: 12px;
    font-size: 24px;
    vertical-align: middle;
}
