html, body {
  padding: 0;
  margin: 0;
  background: #1D1D1D;
}

#ptb-main {
  display: none;
}

.ptb-loader {
  padding: 50px 0;
  line-height: 26px;
  height: 26px;
  text-align: center;
  font-family: "lft-etica";
  font-size: 14px;
  color: #6F6F6F;
}


.ptb-loader img {
  padding: 0 5px;
}

.ptb-loader img, .ptb-loader span {
  vertical-align: middle;
}

#story-container {
  position: relative;
  z-index: 500;
  width: 750px;
  padding-top: 40px;
  padding-left: 40px;
}

.ptb-header {
  margin-bottom: 40px;
}


span.date {
  font-family: "lft-etica";
  font-size: 12px;
  color: rgb(135, 135, 135);
}

h1 {
  width: 85%;
  font-family: "clavo";
  color: white;
  font-weight: 300; 
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 0;
}

h3 {
  font-family: "lft-etica";
  color: rgb(135, 135, 135);
  font-weight: 300; 
  font-size: 14px;
}


h2 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 85%;
  font-family: "clavo";
  color: rgb(220, 220, 220);
  font-weight: 400;
}

span.dropcap {
  font-size: 115px;
  float: left;
  line-height: 80px;
  padding-right: 10px;
  font-weight: 400;
  padding-top: 7px;
}

div.one-image, div.two-images {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -15px;
  display: inline-block;
  width: 766px;
  margin-left: -23px;
  overflow: auto;
}

#story-container img {
  height: auto;
}

#story-container div.two-images img {
  width: 360px;
  float: left;
  opacity: 1;
}

#story-container div.two-images img:first-child {
  margin-left: 8px;
}

#story-container div.two-images img:last-child {
  margin-left: 15px;
}

div.one-image img {
  width: 735px;
  margin-left: 8px;
}

#story-container img {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#story-container p {
  width: 85%;
  line-height: 2;
  font-size: 16px;
  font-family: "clavo";
  font-weight: 200;
  margin: 0 0 15px 0;
  color: rgb(220, 220, 220);
}

#story-container p.caption {
  width: 100%;
  font-family: "lft-etica";
  line-height: 1.5;
  margin: 5px 0 10px 0;
  font-size: 14px;
  color: lightgrey;
}

.ptb-container {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}

.map-container {
  position: fixed;
  width: 100%;
  min-width: 1040px;
  max-width: 1040px;
  height: 100%;
  z-index: 1;
  top: 0;
}

#callouts {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  z-index: 100;
}

#tolkein-map {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 420px;
  height: 100%;
}

#map-container {
  position: absolute;

}

#map-contents {
  position: absolute;
  left: -180px;
}

img.overlay {
  position: absolute;
  top: 0;
  z-index: 50;
  height: 100%;
  right: 0;
  width: 420px;
}


div.map-overlay {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 120px;
  z-index: 100;
  background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1D1D1D , transparent); /* Standard syntax */
}

img.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 0.6;
}

#map-image {

}

div.spacer.big {
  height: 1000px;
}

div.spacer.small {
  height: 300px;
}

div.spacer.medium {
  height: 500px;
}

text {
  font-family: "lft-etica";
  fill: white;
  opacity: 0.85;
}

line.callout {
  stroke: white;
  opacity: 0;
}

path.main {
  stroke: rgb(255, 203, 0);
}

circle.waypoint {
  stroke: #000;
  stroke-width: 2px;
  fill: rgb(255, 203, 0);
}

circle.callout {
  fill: rgb(255, 203, 0);
  radius: 4px;
}

text.callout {
  font-family: "lft-etica";
  font-weight: 200;
  opacity: 0;
}

g.scale {
  opacity: 0.5;
}

.ScrollSceneIndicators {
  z-index: 1000 !important;
}


div.rule {
  width: 85%;
  border-top: 1px solid rgba(77, 77, 77, 0.57);
}

.main-content {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* CSS goes here. */

.bar {
  position: relative;
  z-index: 500;
  background: rgb(23, 23, 23);
  font-family: "lft-etica";
  color: rgb(135, 135, 135);
  font-weight: 200; 
  font-size: 14px;
}

.bar.top {
  padding: 12px 0 8px 0;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.bar.bottom {
  border-top: 1px solid rgb(48, 48, 48);
  padding: 12px 0;
  position: absolute;
  width: 100%;
}

.bar .inner {
  padding-left: 40px;
  height: 30px;
  line-height: 30px;
}

.bar .inner span {
  vertical-align: middle;
}

.logo {
  height: 30px;
  opacity: 0.7;
}

.logo:hover {
  opacity: 1;
}

.social {
  margin-top: 40px;
}

.social .facebook {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .map-container {
    display: none;
  }
  .ptb-container {
    width: 100%;
  }
  #story-container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .bar .inner {
    padding-left: 15px;
  }

  #story-container p {
    width: 100%;
  }
  h1, h2, h3 {
    width: 100%;
  }
  div.rule {
    width: 100%;
  }

  div.one-image, div.two-images {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #story-container div.one-image img, #story-conatiner div.two-images img, #story-container div.two-images img:first-child, #story-container div.two-images img:last-child {
    margin-left: 0;
    width: 100%;
    box-shadow: none;
  }
  #story-container div.two-images img:first-child {
    margin-bottom: 20px;
  }
}